@charset "utf-8";
h1 {
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-style: bold;
}
body {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style: bold;
}
footer
{
    text-align: center;
}
.c-item
{
    height: 900px;
}
.c-img
{
    height: 100%;
    object-fit: cover;
}